<h1><%= @book.name %></h1>
<br/>
<h3>Author: <%= @book.author %></h3>
<h3>Edition: <%= @book.version %></h3>
<h3>ISBN: #<%= @book.isbn %><h3>
<h3>Publication Date: <%= @book.pub_date %></h3>
<h3>Top Listings: </h3>
<% @listings.each do |listing| %>
	<p><%= User.find(listing.user_id).first_name %></p>
<% end %>
