<% if @books %>
<h1>Textbooks for <a href="/view/course/<%= @course.id%>"><%= @course.name %></a>:</h1>
	<div id="accordion">
		<% @books.each do |book| %>
			<h3><i><%= book.name %></i>, <%= book.author %></h3>
			<div>
				<a href="/view/book/<%= book.id%>">Full book information</a>
				<br/>
				<b>Top Listings:</b>
				<br/>
				<% book.listings.each do |list| %>
				<div class="listing">
					<p><b>Vendor:</b> <a href="/list/user/<%= list.user_id %>">
					<%= User.find_by_id(list.user_id).first_name %></a>
					  <b>Price:</b> $<%= list.price %>
					  <b>Condition:</b> <%= condition_from_num(list.condition) %>
					  <b>Description:</b> <%= list.descript %></p>
				</div>
				<br/>
				<% end %>
			</div>
		<% end %>
	</div>
<% else %>
	<h1>No books found :(</h1>
<% end %>
