<% if @books %>
<h1>Textbooks for <a href="/view/course/<%= @course.id%>"><%= @course.name %></a>:</h1>
	<div id="accordion">
		<% @books.each do |book| %>
			<h3><i><a href="/view/book/<%= book.id%>"><%= book.name %></a></i>, <%= book.author %></h3>
			<div>
				<p>Top Listings:</p>
				<% book.listings.each do |list| %>
					<p><%= User.find_by_id(list.user_id).first_name %>: $<%= list.price %></p>
					<p>Condition: <%= @condition %></p>
					<p>Description: <%= list.descript %></p>
					<br/>
				<% end %>
			</div>
		<% end %>
	</div>
<% else %>
	<h1>No books found :(</h1>
<% end %>
